//Formating the css of the facebook button
button.kep-login-facebook {
  color: #FFF;
  background-color: #FFFFFF;
  border: 0rem solid #FFFFFF;
  padding: 5px;
  border-radius: 0rem;
}

.fa-facebook {
  color: #3B5998;
}
