@import 'assets/MainStyle.scss';

.password-reset {
  margin: auto;
  width: 20rem;
  min-height: rem(200px);

  &__instruction {
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    color: $primary;

  }

  &__fields {
    float: left;
    margin-top: rem(50px);

    &__field {
      width: 20rem;
      text-align: center;

      &__password {
        float: left;
        margin-bottom: rem(10px);
        width: 20rem;
        padding: rem(10px);
        outline: none;
        font-size: 1rem;
      }

      &__button {
        margin: auto;
        margin-top: rem(10px);
        border-color: $primary;
        width: 10rem;
        height: rem(40px);
        padding: rem(5px);
        border-radius: rem(25px);
        outline: none;
        text-align: center;
        font-size: rem(16px);
        color: $primary;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}

.error {
  padding: rem(10px);
  position: relative;
  margin-top: rem(10px);
  color: $secondary;
}

.success {
  margin: auto;
  
  width: 20rem;
  padding: rem(10px);
  background-color: $primary;
  margin-top: rem(20px);
  text-align: center;
  color: $white;

  &__text {
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-align: center;
  }
}
