@import 'assets/MainStyle.scss';

.navbar {
  padding-top: 0.5rem;
  min-height: 6rem;
  width: 100%;
  font-family: $primary-font-family;
  box-shadow: 0.1rem 0.1rem 0.3rem $primary;

  &__branding {
    float: left;
    margin-left: 3rem;
    width: 30%;
    font-family: $secondary-font-family;
    color: $secondary;

    &__name {
      width: rem(200px);
      margin-left: 1.2rem;
    }

    &__moto {
      width: 15rem;
      background-color: $primary-ultra-light;
      padding: 0.3rem;
      border-radius: 0.3rem;
      font-family: $primary-font-family;
      text-align: center;
      font-size: 0.8rem;
    }
  }

  &__navigation {
    float: right;

    &__auth {
      float: right;
      margin-right: 1rem;
      margin-top: rem(-10px);
      background-color: $primary-ultra-light;
      width: fit-content;
      padding: rem(10px);
      box-shadow: rem(0px) rem(1px) rem(3px) $primary;
      border-bottom-right-radius: rem(20px);
      border-bottom-left-radius: rem(20px);
      font-size: 0.8125rem;

      &__button {
        display: inline;
        padding: 0.3rem;

        &--link {
          padding-top: rem(10px);
          text-decoration: none;
          color: $primary;
        }

        &:nth-child(1) {
          border-right: rem(1px) solid $primary;
        }

        &--link:hover {
          color: $secondary;
        }
      }
    }

    &__articles {
      display: flex;
      margin-top: 2.5rem;

      &__ul {
        text-decoration: none;

        &__li {
          display: inline;

          &--button {
            display: inline;
            margin-left: 1rem;
            padding: 0.5rem 2rem;
            border: rem(1px) solid $primary;
            border-radius: rem(50px);
            text-decoration: none;
            color: $primary;
          }

          &--button:hover {
            background-color: $primary;
            color: $white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: rem(800px)) {
  .navbar__branding {
    margin-left: 1rem;
  }

  .navbar__navigation__articles {
    width: rem(150px);
  }
}

@media screen and (max-width: rem(700px)) {
  .navbar__branding__moto {
    display: none;
  }
}
