@import "assets/MainStyle.scss";

.footer {
  margin: auto;
  background-color: $primary-ultra-light;
  width: 99%;
  padding: 1rem;
  border-top-left-radius: rem(10px);
  border-top-right-radius: rem(10px);
  text-align: center;
  font-size: 18px;
  color: $primary;

  &__inner {
    &__developer {
      &--name {
        color: $primary;
      }
    }

    &__copyright {
      &--website {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}
