@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

$primary-font-family: "Open Sans", sans-serif;
$secondary-font-family: "Lobster", sans-serif;

$primary: #2D6686;
$primary-ultra-light: #D9E3F0;
$primary-light: #79B2D2;
$secondary: #E91E63;
$secondary-light: #C98FA3;
$white: #FFFFFF;
$black: #021019;
$shadow: #D3D6DB;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
